@import "./tokens.colors.css";
@import "./tokens.type.css";
@import "./tokens.space.css";
@import "./tokens.radii.css";
@import "./tokens.theme.light.css";
@import "./tokens.theme.dark.css";

@import "./globals.css";
