/* Colors */
@import "../foundations/tokens/colors.palette.css";
@import "../foundations/tokens/colors.semantic.css";
@import "../foundations/tokens/tones.css";

/* Typography */
@import "../foundations/tokens/types.css";

/* Spaces */
@import "../foundations/tokens/spaces.css";

/* Radii */
@import "../foundations/tokens/radii.css";

/* Shadows */
@import "../foundations/tokens/shadows.css";

/* Breakpoints */
@import "../foundations/tokens/breakpoints.css";

/* Icons */
@import "../foundations/tokens/icons.css";

/* Transitions */
@import "../foundations/tokens/transitions.css";

/* Components */
@import "../foundations/tokens/buttons.css";
@import "../foundations/tokens/cards.css";
@import "../foundations//tokens/inputs.css";

/* Themes */
@import "../foundations/themes/light.css";
@import "../foundations/themes/dark.css";

/* Global styles */
@import "./globals.css";
