@import "../foundations/tokens/colors.css";
@import "../foundations/tokens/type.css";
@import "../foundations/tokens/space.css";
@import "../foundations/tokens/radii.css";

@import "../foundations/tokens/tokens.theme.light.css";
@import "../foundations/tokens/tokens.theme.dark.css";

@import "./globals.css";
