.bmd-table {
  text-align: left;

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
  }

  th,
  td {
    /* Explicitly wipe out borders on individual cells */
    border: none !important;

    /* Subpixel fix if using sticky headers (prevents background-gap bleeding) */
    outline: 1px solid transparent;
    background-clip: padding-box;
    padding: var(--table-row-padding-y) var(--table-row-padding-x);
  }

  th {
    cursor: pointer;
    font-size: var(--table-header-font-size);
    background-color: var(--color-accent);
    &:hover {
      background-color: var(--color-accent-hover);
    }
    color: var(--color-text-inverse);

    padding: var(--table-header-padding-y) var(--table-header-padding-x);
  }

  tr {
    font-size: var(--table-row-font-size);
    background-color: var(--table-row-odd-color);
    &:nth-child(even) {
      background-color: var(--table-row-even-color);
    }
  }
}

.bmd-table__sortable-header {
  display: flex;
  align-items: center;
  gap: var(--table-icon-padding-x);
}

.bmd-table__pagination-controls-wrapper {
  display: flex;
  justify-content: flex-end;

  border-top: solid 1px var(--table-row-odd-color);
  font-size: var(--table-row-font-size);
  padding: var(--table-controls-padding-y) var(--table-controls-padding-x);
  background-color: var(--table-controls-color);

  select {
    padding: var(--input-padding-y-md) var(--input-padding-x-md);
  }
}
