.storybook-button {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-tight);

  display: inline-flex;
  cursor: pointer;
  border: 0;
  border-radius: var(--radius-pill);

  color: var(--color-text-primary);
}
.storybook-button--primary {
  background-color: var(--color-action-primary);
  color: var(--color-text-inverse);
}
.storybook-button--secondary {
  background: transparent;
  color: var(--color-text-primary);
  border: 1px solid var(--color-border-default);
}
.storybook-button--small {
  padding: 10px 16px;
  font-size: 12px;
}
.storybook-button--medium {
  padding: 11px 20px;
  font-size: 14px;
}
.storybook-button--large {
  padding: 12px 24px;
  font-size: 16px;
}
