.bmd-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* gap: var(--button-gap); */

  border-radius: var(--button-radius-default);
  border: 1px solid transparent;

  font-size: var(--button-font-size);
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  line-height: var(--button-line-height);
  white-space: nowrap;

  transition:
    background-color var(--duration-medium) var(--easing-standard),
    box-shadow var(--duration-medium) var(--easing-standard),
    color var(--duration-medium) var(--easing-standard);
}

/* Variants */
.bmd-button[data-variant="solid"] {
  background-color: var(--button-tone);
  color: var(--button-tone-contrast);
}

.bmd-button[data-variant="solid"]:not(:disabled):hover {
  background-color: var(--button-tone-hover);
}

.bmd-button[data-variant="outlined"] {
  background-color: transparent;
  color: var(--button-tone);
  border-color: var(--button-tone);
}

.bmd-button[data-variant="outlined"]:not(:disabled):hover {
  background-color: color-mix(in srgb, var(--button-tone) 20%, transparent);
}

.bmd-button[data-variant="soft"] {
  background-color: color-mix(in srgb, var(--button-tone) 10%, transparent);
  color: var(--button-tone);
  /* border-color: var(--button-tone); */
}

.bmd-button[data-variant="soft"]:not(:disabled):hover {
  background-color: color-mix(in srgb, var(--button-tone) 20%, transparent);
}

.bmd-button[data-variant="ghost"] {
  background-color: transparent;
  color: var(--button-tone);
}

.bmd-button[data-variant="ghost"]:not(:disabled):hover {
  background-color: color-mix(in srgb, var(--button-tone) 10%, transparent);
}

/* Sizes */
.bmd-button[data-size="xs"] {
  padding: var(--button-padding-y-xs) var(--button-padding-x-xs);
  font-size: var(--font-size-xs);
}
.bmd-button[data-size="sm"] {
  padding: var(--button-padding-y-sm) var(--button-padding-x-sm);
  font-size: var(--font-size-sm);
}
.bmd-button[data-size="md"] {
  padding: var(--button-padding-y-md) var(--button-padding-x-md);
  font-size: var(--font-size-md);
}
.bmd-button[data-size="lg"] {
  padding: var(--button-padding-y-lg) var(--button-padding-x-lg);
  font-size: var(--font-size-lg);
}
.bmd-button[data-size="xl"] {
  padding: var(--button-padding-y-xl) var(--button-padding-x-xl);
  font-size: var(--font-size-xl);
}

/* Shapes */
.bmd-button[data-shape="default"] {
  border-radius: var(--button-radius-default);
}
.bmd-button[data-shape="rounded"] {
  border-radius: var(--button-radius-rounded);
}
.bmd-button[data-shape="pill"] {
  border-radius: var(--button-radius-pill);
}
