.bmd-input {
  padding: var(--input-padding-y-md) var(--input-padding-x-md);

  font-size: var(--input-font-size);
  font-weight: var(--input-font-weight);

  background-color: var(--input-background-color);
  border: var(--input-border-width) solid var(--input-border);
  border-radius: var(--input-radius);

  outline: none;
  transition:
    border-color 120ms ease,
    box-shadow 120ms ease,
    background-color 120ms ease;

  &:disabled {
    background-color: var(--input-disabled-bg);
    color: var(--input-disabled-text);
    cursor: not-allowed;
  }

  &:focus-visible {
    border-color: var(--input-border-focus);
    box-shadow: 0 0 0 1px
      color-mix(in srgb, var(--input-border-focus), transparent 75%);
  }

  &::placeholder {
    color: var(--input-placeholder);
    font-style: italic;
  }
}

.bmd-input[data-input-size="sm"] {
  font-size: var(--input-font-size-sm);
  padding: var(--input-padding-y-sm) var(--input-padding-x-sm);
}

/* Sizes */
/* .bmd-text-input[data-size="sm"] {
  --input-height: var(--input-height-sm);
  --input-font-size: var(--input-font-size-sm);
}

.bmd-text-input[data-size="md"] {
  --input-height: var(--input-height-md);
  --input-font-size: var(--input-font-size-md);
}

.bmd-text-input[data-size="lg"] {
  --input-height: var(--input-height-lg);
  --input-font-size: var(--input-font-size-lg);
} */

/* Validation states */
/* .bmd-text-input[data-state="error"] {
  --input-border: var(--input-border-error);
  --input-border-focus: var(--input-border-error);
}

.bmd-text-input[data-state="success"] {
  --input-border: var(--input-border-success);
  --input-border-focus: var(--input-border-success);
} */
