:root {
  /* Fonts */
  --button-font-weight: var(--font-weight-semibold);
  --button-font-size: var(--font-size-md);
  --button-line-height: var(--line-height-tight);

  /* Gap & Padding */
  --button-gap: var(--space-2);
  --button-padding-y-xs: calc(var(--font-size-xs) / 2);
  --button-padding-x-xs: var(--font-size-xs);

  --button-padding-y-sm: calc(var(--font-size-sm) / 2);
  --button-padding-x-sm: var(--font-size-sm);

  --button-padding-y-md: calc(var(--font-size-md) / 2);
  --button-padding-x-md: var(--font-size-md);

  --button-padding-y-lg: calc(var(--font-size-lg) / 2);
  --button-padding-x-lg: var(--font-size-lg);

  --button-padding-y-xl: calc(var(--font-size-xl) / 2);
  --button-padding-x-xl: var(--font-size-xl);

  /* Radius */
  --button-radius-default: 0px;
  --button-radius-rounded: var(--radius-sm);
  --button-radius-pill: var(--radius-pill);

  /* Tone (default = primary) */
  --button-tone: var(--tone-primary);
  --button-tone-hover: var(--tone-primary-hover);
  --button-tone-contrast: var(--tone-primary-contrast);

  /* Transition */
  --button-transition-easing: var(--easing-standard);
  --button-transition-duration: var(--duration-medium);
}

/* Explicit tones */
.bmd-button[data-tone="danger"] {
  --button-tone: var(--tone-danger);
  --button-tone-hover: var(--tone-danger-hover);
  --button-tone-contrast: var(--tone-danger-contrast);
}

.bmd-button[data-tone="neutral"] {
  --button-tone: var(--tone-neutral);
  --button-tone-hover: var(--tone-neutral-hover);
  --button-tone-contrast: var(--tone-neutral-contrast);
}

.bmd-button[data-tone="success"] {
  --button-tone: var(--tone-success);
  --button-tone-hover: var(--tone-success-hover);
  --button-tone-contrast: var(--tone-success-contrast);
}

.bmd-button[data-tone="warning"] {
  --button-tone: var(--tone-warning);
  --button-tone-hover: var(--tone-warning-hover);
  --button-tone-contrast: var(--tone-warning-contrast);
}
