/* src/foundations/tokens/buttons.tokens.css */

:root {
  /* BUTTON GEOMETRY */
  --button-padding-y-xs: calc(var(--font-size-xs) / 2);
  --button-padding-x-xs: calc(var(--font-size-xs) / 2 * 3);

  --button-padding-y-sm: calc(var(--font-size-sm) / 2);
  --button-padding-x-sm: calc(var(--font-size-sm) / 2 * 3);

  --button-padding-y-md: calc(var(--font-size-md) / 2);
  --button-padding-x-md: calc(var(--font-size-md) / 2 * 3);

  --button-padding-y-lg: calc(var(--font-size-lg) / 2);
  --button-padding-x-lg: calc(var(--font-size-lg) / 2 * 3);

  --button-padding-y-xl: calc(var(--font-size-xl) / 2);
  --button-padding-x-xl: calc(var(--font-size-xl) / 2 * 3);

  /* Radius */
  --button-radius-default: var(--radius-xs);
  --button-radius-rounded: var(--radius-lg);
  --button-radius-pill: var(--radius-pill);

  /* Tone (default = primary) */
  --button-tone: var(--tone-primary);
  --button-tone-hover: var(--tone-primary-hover);
  --button-tone-contrast: var(--tone-primary-contrast);

  /* Transition */
  --button-transition-easing: var(--easing-standard);
  --button-transition-duration: var(--duration-medium);
}

/* Explicit tones */
.bmd-button[data-tone="danger"] {
  --button-tone: var(--tone-danger);
  --button-tone-hover: var(--tone-danger-hover);
  --button-tone-contrast: var(--tone-danger-contrast);
}

.bmd-button[data-tone="neutral"] {
  --button-tone: var(--tone-neutral);
  --button-tone-hover: var(--tone-neutral-hover);
  --button-tone-contrast: var(--tone-neutral-contrast);
}

.bmd-button[data-tone="success"] {
  --button-tone: var(--tone-success);
  --button-tone-hover: var(--tone-success-hover);
  --button-tone-contrast: var(--tone-success-contrast);
}

.bmd-button[data-tone="warning"] {
  --button-tone: var(--tone-warning);
  --button-tone-hover: var(--tone-warning-hover);
  --button-tone-contrast: var(--tone-warning-contrast);
}
