/* Color Palette */
/* raw color steps (no semantics) */
/* color-x-500: Base color, < 500: lighter tints, > 500: darker shades */

:root {
  /* ---------- Greens ---------- */
  --color-green-base: #27ae60;
  --color-green-50: color-mix(in oklab, var(--color-green-base) 10%, white);
  --color-green-100: color-mix(in oklab, var(--color-green-base) 20%, white);
  --color-green-200: color-mix(in oklab, var(--color-green-base) 40%, white);
  --color-green-300: color-mix(in oklab, var(--color-green-base) 60%, white);
  --color-green-400: color-mix(in oklab, var(--color-green-base) 80%, white);
  --color-green-500: var(--color-green-base);
  --color-green-600: color-mix(in oklab, var(--color-green-base) 80%, black);
  --color-green-700: color-mix(in oklab, var(--color-green-base) 60%, black);
  --color-green-800: color-mix(in oklab, var(--color-primary-base) 40%, black);
  --color-green-900: color-mix(in oklab, var(--color-primary-base) 20%, black);

  /* ---------- Blues ---------- */
  --color-blue-base: #287bb3;
  --color-blue-400: color-mix(in oklab, var(--color-blue-base) 80%, white);
  --color-blue-500: var(--color-blue-base);
  --color-blue-600: color-mix(in oklab, var(--color-blue-base) 80%, black);

  /* ---------- Reds ---------- */
  /* Base red color */
  --color-red-base: #e74c3c;
  --color-red-400: color-mix(in oklab, var(--color-red-base) 10%, white);
  --color-red-500: var(--color-red-base);
  --color-red-600: color-mix(in oklab, var(--color-red-base) 80%, black);

  /* --------- Yellows ---------- */
  --color-yellow-base: #f1c40f;
  --color-yellow-400: color-mix(in oklab, var(--color-yellow-base) 80%, white);
  --color-yellow-500: var(--color-yellow-base);
  --color-yellow-600: color-mix(in oklab, var(--color-yellow-base) 80%, black);

  /* ---------- Grays ---------- */
  --color-gray-base: #95a5a6;
  --color-gray-50: color-mix(in oklab, var(--color-gray-base) 10%, white);
  --color-gray-100: color-mix(in oklab, var(--color-gray-base) 20%, white);
  --color-gray-200: color-mix(in oklab, var(--color-gray-base) 40%, white);
  --color-gray-300: color-mix(in oklab, var(--color-gray-base) 60%, white);
  --color-gray-400: color-mix(in oklab, var(--color-gray-base) 80%, white);
  --color-gray-500: var(--color-gray-base);
  --color-gray-600: color-mix(in oklab, var(--color-gray-base) 80%, black);
  --color-gray-700: color-mix(in oklab, var(--color-gray-base) 60%, black);
  --color-gray-800: color-mix(in oklab, var(--color-gray-base) 40%, black);
  --color-gray-900: color-mix(in oklab, var(--color-gray-base) 20%, black);
}
