.bmd-bar-chart {
  display: flex;
  border-radius: var(--bar-radius-rounded);
  background-color: var(--color-surface-subtle);
  gap: var(--chart-gap-x);
  padding: var(--chart-padding-y) var(--chart-padding-x);
  color: var(--chart-font-color);
}

/* div wrapping value text, bar, and label */
.bmd-bar-chart__value-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: var(--chart-gap-y);
}

/* total value as text on top of bar (e.g., total shows) */
.bmd-bar-chart__value-text {
  font-size: var(--chart-font-value-size);
  font-weight: var(--chart-font-value-weight);
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  align-items: center;
}

/* div wrapping each bar (including stacked bars) */
.bmd-bar-chart__value-bar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

/* wrapper for stacked bars calculating total height */
.bmd-bar-chart__value-bar-total {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  overflow: hidden;
  border-radius: var(--bar-radius-rounded);
}

.bmd-bar-chart__value-sep {
  width: 100%;
  height: 2px;
  margin: var(--chart-gap-y);
  background-color: var(--color-surface);
}

.bmd-bar-chart__value-label {
  font-weight: var(--chart-font-label-weight);
  font-size: var(--chart-font-label-size);
  color: var(--chart-font-color);
}
