.bmd-bar-chart {
  display: flex;
  border-radius: var(--bar-radius-rounded);
  background-color: var(--color-surface-subtle);
  gap: var(--chart-gap-x);
  padding: var(--chart-padding-y) var(--chart-padding-x);
}

/* div wrapping value text, bar, and label */
.bmd-bar-chart__value-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: var(--chart-gap-y);
  /* background-color: yellow; */
}

/* total value as text on top of bar (e.g., total shows) */
.bmd-bar-chart__value-text {
  font-weight: var(--chart-font-weight);
  font-size: var(--chart-font-size);
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  align-items: center;
  /* background-color: beige; */
}

/* div wrapping each bar (including stacked bars) */
.bmd-bar-chart__value-bar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  /* background-color: beige; */
}

/* wrapper for stacked bars calculating total height */
.bmd-bar-chart__value-bar-total {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  overflow: hidden;
  border-radius: var(--bar-radius-rounded);
  /* background-color: var(--color-surface); */
}

.bmd-bar-chart__value-sep {
  width: 100%;
  height: 1px;
  margin: 0.5em 0em;
  background-color: var(--color-text);
}

.bmd-bar-chart__value-label {
  background-color: aqua;
}
