:root {
  /* Text */

  /* Surfaces */
  /* --color-bg-canvas: var(--color-gray-50);
  --color-bg-surface: white;
  --color-bg-muted: var(--color-gray-100); */

  /* Borders */
  --color-border-default: var(--color-border-strong);

  /* Actions */
  /* --color-action-primary: var(--color-primary-500);
  --color-action-hover: var(--color-primary-600); */
}
